package com.t2ti.fenix.repository.cadastros;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

import com.t2ti.fenix.model.cadastros.{{class}};

public interface {{class}}Repository extends JpaRepository<{{class}}, Integer>{//, JpaSpecificationExecutor<{{class}}>

}
