{*****************************************************************
Title: T2Ti ERP Fenix
Description: Model relacionado a tabela [{{table}}]
License: Apache2
Copyright: Copyright 2020 (C) William Marx

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

      The author may be contacted at:
          marxwilliamf@gmail.com

@Author: William Felipe Marx (marxwilliamf@gmail.com)
@version: 1.0.0
*****************************************************************}


unit {{class}};

interface

uses
  {{#uses}}
  {{{.}}}
  {{/uses}}
  MVCFramework.Serializer.Commons, ModelBase;

type

  [MVCNameCase(ncLowerCase)]
  T{{class}} = class(TModelBase)
  private
    {{#fields}}
    {{{.}}}
    {{/fields}}
    {{^fields}}Existe um problema. Campos não enviados.{{/fields}}
    {{#fieldsObj}}
    {{{.}}}
    {{/fieldsObj}}
    {{#fieldsList}}
    {{{.}}}
    {{/fieldsList}}
  public
    procedure ValidarInsercao; override;
    procedure ValidarAlteracao; override;
    procedure ValidarExclusao; override;

    {{#constDestInterface}}
    {{{.}}}
    {{/constDestInterface}}

    {{#properties}}
    {{{.}}}
    {{/properties}}
    {{^properties}}Existe um problema. Propriedades não enviados.{{/properties}}  
    {{#propertiesObj}}
    {{{.}}}
    {{/propertiesObj}}
    {{#propertiesList}}
    {{{.}}}
    {{/propertiesList}}
  end;

implementation

{ T{{class}} }

{{#constImplementation}}
{{{.}}}
{{/constImplementation}}

{{#destImplementation}}
{{{.}}}
{{/destImplementation}}

procedure T{{class}}.ValidarInsercao;
begin
  inherited;

end;

procedure T{{class}}.ValidarAlteracao;
begin
  inherited;

end;

procedure T{{class}}.ValidarExclusao;
begin
  inherited;

end;

end.